@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montez&family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}
.brandTitle{
    font-family: 'Courgette', cursive;
    font-size: 24px;
    font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    @apply bg-transparent font-bold text-base text-primary
}

.default{
    @apply bg-transparent font-semibold text-base text-primary opacity-40 hover:bg-transparent
}